<div class="box-center box-title card complete">
  <h1>Thanks for playing</h1>

  <%= render "sessions/partials/scores" %>

  <%= link_to "Start new game...", "/", class: "button box-button" %>
</div>