<% case @session.status %>
<% when "configuring" %>
  <%= render "session_configure"%>
<% when "configuring_add_players" %>
  <%= render "session_configure_players"%>
<% when "started" %>
  <%= render "session_challenge"%>
<% when "complete" %>
  <%= render "session_complete"%>
<% else%>
<h1>No template...</h1>
<% end %>
