<p class="scoring-notes">
  Are you happy the player gave it their all and deserve a point for their attempt?
</p>

<div class="score-options">
  <label for="score-yes" class="button">
    <input type="radio" id="score-yes" name="session_game_challenge[winner_id]" value="<%= @challenge.player.id %>">
    Yes
  </label>
  <label for="score-no" class="button">
    <input type="radio" id="score-no" name="session_game_challenge[winner_id]" value="0">
    No
  </label>
</div>
