<p>Who scores?</p>

<div class="score-options">
<% @challenge.session.players.where.not(id: @challenge.judge_id).each do |player| %>
  <label for="score-<%= player.id %>" class="button">
    <input type="radio" id="score-<%= player.id %>" name="session_game_challenge[winner_id]" value="<%= player.id %>">
    <%= player.name %>
  </label>
<% end %>
</div>